@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Movies.Models;
@model MovieGenderModel;
@{
    ViewData["Title"] = "Create Movie Gender";
}

<h3>Crear Elemento</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="col-sm-10 font-weight-bold form-group">
            @Html.LabelFor(model=>model.Name)
            @Html.EditorFor(model=>model.Name)
        </div><div class="col-sm-10 font-weight-bold form-group">
            @Html.LabelFor(model=>model.Description)
            @Html.EditorFor(model=>model.Description)
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
    </div>
}
